.book-list-container {
  display: flex;
  flex-direction: column;
}

.book-list-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  max-width: 1200px;
  gap: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
 

}

.book-list-title{
  grid-column: 1 / -1;
  align-self: center;
  padding: 16px;
  color: #4682b4;
}


.book-list-books-container {
  display: flex;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  gap: 20px;
  width: 330px;
}

.book-list-books-container img {
  height: 150px;
  width: 100px;
  object-fit: cover;
}

.book-list-books-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-content: space-between;
  
}

.book-list-books-info p {
  font-size: 16px;
  color: #333333;
}

.book-list-books-info button {
  align-self: flex-start;
  background-color: #4682b4;
  color: white;
  font-size: 16px;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.book-list-books-info button:hover {
  background-color: #36648b;
}

.book-list-books-info-button{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

