.home-container-cretralizar{
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, #4682b4, #b0e0e6);
 }

.home-container {
  display: flex;
  flex-direction: column;
}



.home-titulo{
  align-self: center;
  padding: 16px;
  color: #4682b4;
}

.home-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  max-width: 1200px;
  gap: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
 

}

.home-titulo{
  grid-column: 1 / -1;
}

.home-livro-container {
  display: flex;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  gap: 20px;
  width: 330px;
}

.home-livro-container img {
  height: 150px;
  width: 100px;
  object-fit: cover;
}

.home-book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-content: space-between;
  
}

.home-book-info p {
  padding-top: 16px;
  font-size: 16px;
  color: #333333;
}

.home-book-info button {
  align-self: flex-start;
  background-color: #4682b4;
  color: white;
  font-size: 16px;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.home-book-info button:hover {
  background-color: #36648b;
}

footer{
  min-height: 200px;
}
